In [137]:
import pandas as pd

data = pd.read_excel(r"/Users/rohith/Desktop/Data Mining/NB/NB_dataset.xlsx")

In [139]:
data.fillna('=avg',inplace = True)
data.drop(columns = 'Instance number',axis = 1, inplace = True)

In [140]:
data.head()

  Blood pressure (B) Weight (W) Family history (F) Age (A) Diabetes (D)
0               =avg       >avg                yes     >50          yes
1               <avg       =avg                yes    <=50           no
2               >avg       >avg                 no     >50          yes
3               =avg       >avg                yes     >50          yes
4               >avg       >avg                yes     >50           no

In [153]:
data.columns[:-1]

Index(['Blood pressure (B)', 'Weight (W)', 'Family history (F)', 'Age (A)'], dtype='object')

In [77]:
dict_data = {}
output_items = data['Diabetes (D)']
for i in data.columns:
    if(i == 'Diabetes (D)'):
        continue
    dict_data[i]={}
    items = set(data[i])
    for j in items:
        dict_data[i][j]={}
        for k in output_items:
            dict_data[i][j][k] = 0

In [78]:
print(dict_data)

{'Blood pressure (B)': {'<avg': {'yes': 0, 'no': 0}, '>avg': {'yes': 0, 'no': 0}, '=avg': {'yes': 0, 'no': 0}}, 'Weight (W)': {'<avg': {'yes': 0, 'no': 0}, '>avg': {'yes': 0, 'no': 0}, '=avg': {'yes': 0, 'no': 0}}, 'Family history (F)': {'yes': {'yes': 0, 'no': 0}, 'no': {'yes': 0, 'no': 0}}, 'Age (A)': {'<=50': {'yes': 0, 'no': 0}, '>50': {'yes': 0, 'no': 0}}}

In [79]:
for i in data.columns:
    if(i == 'Diabetes (D)'):
        continue
    for j in range(data.shape[0]):
        output_item = data['Diabetes (D)'][j]
        column_item = data[i][j]
        dict_data[i][column_item][output_item] += 1
        
print(dict_data)

{'Blood pressure (B)': {'<avg': {'yes': 0, 'no': 4}, '>avg': {'yes': 4, 'no': 4}, '=avg': {'yes': 5, 'no': 3}}, 'Weight (W)': {'<avg': {'yes': 0, 'no': 2}, '>avg': {'yes': 7, 'no': 4}, '=avg': {'yes': 2, 'no': 5}}, 'Family history (F)': {'yes': {'yes': 6, 'no': 4}, 'no': {'yes': 3, 'no': 7}}, 'Age (A)': {'<=50': {'yes': 2, 'no': 8}, '>50': {'yes': 7, 'no': 3}}}

In [80]:
output_items = data['Diabetes (D)']
output_dict={}
output_dict['Diabetes (D)'] = {}
for item in output_items:
    output_dict['Diabetes (D)'][item] = 0


for j in range(data.shape[0]):
    output_item = data['Diabetes (D)'][j]
    output_dict['Diabetes (D)'][output_item] += 1

print(output_dict)

{'Diabetes (D)': {'yes': 9, 'no': 11}}

In [87]:
output_dict['Diabetes (D)'].keys()

dict_keys(['yes', 'no'])

In [88]:
jprob_dict = {}
output_items = data['Diabetes (D)']
for i in data.columns:
    if(i == 'Diabetes (D)'):
        continue
    jprob_dict[i]={}
    items = set(data[i])
    for j in items:
        jprob_dict[i][j]={}
        for k in output_items:
            jprob_dict[i][j][k] = dict_data[i][j][k]/data.shape[0]
            
jprob_output_dict = {}
jprob_output_dict['Diabetes (D)']={}
for i in output_dict['Diabetes (D)'].keys():
    jprob_output_dict['Diabetes (D)'][i] = output_dict['Diabetes (D)'][i]/data.shape[0]

In [89]:
print(jprob_output_dict)

{'Diabetes (D)': {'yes': 0.45, 'no': 0.55}}

In [56]:
jprob_dict

{'Blood pressure (B)': {'<avg': {'yes': 0.0, 'no': 0.2},
  '>avg': {'yes': 0.2, 'no': 0.2},
  '=avg': {'yes': 0.25, 'no': 0.15}},
 'Weight (W)': {'<avg': {'yes': 0.0, 'no': 0.1},
  '>avg': {'yes': 0.35, 'no': 0.2},
  '=avg': {'yes': 0.1, 'no': 0.25}},
 'Family history (F)': {'yes': {'yes': 0.3, 'no': 0.2},
  'no': {'yes': 0.15, 'no': 0.35}},
 'Age (A)': {'<=50': {'yes': 0.1, 'no': 0.4},
  '>50': {'yes': 0.35, 'no': 0.15}},
 'Diabetes (D)': {'yes': {'yes': 0.45, 'no': 0.0},
  'no': {'yes': 0.0, 'no': 0.55}}}

In [90]:
cprob_dict = {}
output_items = data['Diabetes (D)']
for i in data.columns:
    if(i == 'Diabetes (D)'):
        continue
    cprob_dict[i]={}
    items = set(data[i])
    for j in items:
        cprob_dict[i][j]={}
        for k in output_items:
            cprob_dict[i][j][k] = jprob_dict[i][j][k]/jprob_output_dict['Diabetes (D)'][k]
            
print(cprob_dict)

{'Blood pressure (B)': {'<avg': {'yes': 0.0, 'no': 0.36363636363636365}, '>avg': {'yes': 0.4444444444444445, 'no': 0.36363636363636365}, '=avg': {'yes': 0.5555555555555556, 'no': 0.2727272727272727}}, 'Weight (W)': {'<avg': {'yes': 0.0, 'no': 0.18181818181818182}, '>avg': {'yes': 0.7777777777777777, 'no': 0.36363636363636365}, '=avg': {'yes': 0.22222222222222224, 'no': 0.45454545454545453}}, 'Family history (F)': {'yes': {'yes': 0.6666666666666666, 'no': 0.36363636363636365}, 'no': {'yes': 0.3333333333333333, 'no': 0.6363636363636362}}, 'Age (A)': {'<=50': {'yes': 0.22222222222222224, 'no': 0.7272727272727273}, '>50': {'yes': 0.7777777777777777, 'no': 0.2727272727272727}}}

In [204]:
def output(data,features):
    output_results=[]
    for k in range(data.shape[0]):
        yes_result = 1
        no_result = 1
        row_num = k
        for i in features:
            if(i == 'Diabetes (D)'):
                continue
            j = data[i][row_num]
            print(j,end=" ")
            yes_result *= cprob_dict[i][j]['yes']
            no_result *= cprob_dict[i][j]['no']
        yes_result *= jprob_output_dict['Diabetes (D)']['yes']
        no_result *= jprob_output_dict['Diabetes (D)']['no']
        output = 'no'
        if(yes_result > no_result):
            output = 'yes'
        output_results.append(output)
        print(yes_result, no_result, output)
    return output_results

In [205]:
output_results = output(data, data.columns)

=avg >avg yes >50 0.10082304526748968 0.00540946656649136 yes
<avg =avg yes <=50 0.0 0.024042073628850493 no
>avg >avg no >50 0.04032921810699588 0.012622088655146505 yes
=avg >avg yes >50 0.10082304526748968 0.00540946656649136 yes
>avg >avg yes >50 0.08065843621399175 0.007212622088655148 yes
=avg >avg yes <=50 0.02880658436213992 0.014425244177310295 yes
<avg <avg yes <=50 0.0 0.009616829451540198 no
>avg >avg no <=50 0.011522633744855966 0.033658903080390684 no
<avg <avg no <=50 0.0 0.016829451540195342 no
=avg >avg yes <=50 0.02880658436213992 0.014425244177310295 yes
>avg =avg no >50 0.011522633744855966 0.01577761081893313 no
=avg =avg yes >50 0.02880658436213992 0.0067618332081142 yes
>avg >avg no >50 0.04032921810699588 0.012622088655146505 yes
=avg =avg no <=50 0.004115226337448561 0.03155522163786626 no
<avg =avg no >50 0.0 0.01577761081893313 no
=avg >avg yes <=50 0.02880658436213992 0.014425244177310295 yes
>avg =avg yes >50 0.023045267489711932 0.009015777610818934 yes
=avg >avg no <=50 0.01440329218106996 0.025244177310293006 no
>avg >avg no >50 0.04032921810699588 0.012622088655146505 yes
>avg =avg no <=50 0.0032921810699588485 0.042073628850488355 no

In [134]:
data['Diabetes (D)']

0     yes
1      no
2     yes
3     yes
4      no
5     yes
6      no
7      no
8      no
9      no
10     no
11    yes
12    yes
13     no
14     no
15    yes
16    yes
17     no
18    yes
19     no
Name: Diabetes (D), dtype: object

In [135]:
for i in range(len(output_results)):
    if(output_results[i] == data['Diabetes (D)'][i]):
        print(i+1,'same')
    else:
        print(i+1,'different')

1 same
2 same
3 same
4 same
5 different
6 same
7 same
8 same
9 same
10 different
11 same
12 same
13 same
14 same
15 same
16 same
17 same
18 same
19 same
20 same

In [132]:
output_results

['yes',
 'no',
 'yes',
 'yes',
 'yes',
 'yes',
 'no',
 'no',
 'no',
 'yes',
 'no',
 'yes',
 'yes',
 'no',
 'no',
 'yes',
 'yes',
 'no',
 'yes',
 'no']

In [192]:
test_data = pd.read_excel(r"/Users/rohith/Desktop/Data Mining/NB/Naive_Bayes_test.xlsx")

In [193]:
test_data.columns

Index(['Blood pressure', 'Weight', 'Family history', 'Age', 'Diabetes'], dtype='object')

In [194]:
test_data.fillna('=avg',inplace = True)
test_data.drop(test_data.index[0],inplace=True)
test_data.drop(columns = 'Diabetes',axis = 1, inplace = True)
test_data.reset_index(inplace=True)

In [195]:
test_data.drop(columns = 'index',axis = 1, inplace = True)

In [196]:
test_data

  Blood pressure Weight Family history  Age
0           >avg   >avg            yes  <50
1           =avg   =avg             no  >50
2           <avg   <avg             no  >50

In [197]:
test_data.columns = dict_data.keys()

In [198]:
test_data

  Blood pressure (B) Weight (W) Family history (F) Age (A)
0               >avg       >avg                yes     <50
1               =avg       =avg                 no     >50
2               <avg       <avg                 no     >50

In [206]:
output_results = output(test_data, test_data.columns)

>avg >avg yes <=50 0.023045267489711932 0.019233658903080396 yes
=avg =avg no >50 0.01440329218106996 0.011833208114199849 yes
<avg <avg no >50 0.0 0.006311044327573252 no

In [200]:
test_data['Age (A)'][0] = '<=50'